@mixin btn-padding-mixin {
    padding: .8rem 2.6rem;
}

// button size
.btn-large {
    padding: .8rem 2.6rem;
    font-size: 1.5rem;
    line-height: 2.6rem;
    font-weight: 500;
    letter-spacing: 0.46px;
}

.btn-medium {
    font-weight: 500;
    font-size: 1.4rem;
    line-height: 2.4rem;
    padding: .7rem 2.2rem;
    letter-spacing: 0.4px;
}

.btn-small {
    font-weight: 500;
    font-size: 1.3rem;
    line-height: 2.2rem;
    letter-spacing: 0.46px;
}


.btn-disabled {
    background: rgba(58, 53, 65, 0.12) !important;
    color: rgba(58, 53, 65, 0.26) !important;
    border: .1rem solid rgba(58, 53, 65, 0.26) !important;
}

.success-btn {
    @include btn-padding-mixin;
    color: $primary;
}

.rounded {
    border-radius: 30px !important;
}

.circle {
    border-radius: 50% !important;
    aspect-ratio: 1/1 !important;
    line-height: 100% !important;
}